body, html, * {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

canvas {
    height: 80%;
    width: 80%;
}